<ion-view title="Banks" cache-view="false" ng-init="initBank()">
  
    <ion-content class="has-header has-footer" scroll="no">
            <button id="linkButton" ng-click="onClick()"> 
                
            </button>
    </ion-content>
    <ion-footer-bar align-title="center" class="add-bank-footer bar-balanced">
        <div class="button-bar">
            <a class="Link New Account"></a>           
        </div>
    </ion-footer-bar>
<!--     <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:6%;right:5%;z-index:999" ng-click="newsPopover.show($event);"><i class="icons ion-plus"></i></a>
 --></ion-view>
